{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mx-auto px-4 py-8 border-2 border-b-gray-600">
        <div class="flex flex-row justify-center">
            <div class="">
                {{ msg }}
            </div>
        </div>
    </div>
{% endblock %}
